<div class="flex flex-col justify-center items-center px-4">
  <sman-heading title="Edit Password" classname="my-4 font-bold"></sman-heading>
  <form
    class="w-full flex flex-col items-center gap-2"
    (ngSubmit)="changePassword()"
    [formGroup]="changePwdForm"
  >
    <div class="w-full flex justify-between items-center">
      <label for="newPwd">New Password:</label>
      <input
        class="rounded-md border py-3 px-2 text-sm"
        type="text"
        name="newPwd"
        id="newPwd"
        formControlName="newPwd"
      />
    </div>
    <div class="w-full flex justify-between items-center">
      <label for="confirmNewPwd">Confirm password:</label>
      <input
        class="rounded-md border py-3 px-2 text-sm"
        type="text"
        name="confirmNewPwd"
        id="confirmNewPwd"
        formControlName="confirmNewPwd"
      />
    </div>
  </form>
  <div class="flex justify-between items-center gap-5 w-full mt-6 mb-8">
    <sman-button
      text="Cancel"
      btnType="cancel"
      (buttonClick)="cancelChangePassword()"
    ></sman-button>
    <sman-button
      text="Confirm"
      btnType="primary"
      (buttonClick)="changePassword()"
      [isDisabled]="changePwdForm.invalid || isLoading"
    ></sman-button>
  </div>
</div>
