<sman-add-form-layout
  title="Edit Admin Profile"
  layout="edit"
  [formGroup]="changePwdForm"
  [dialogRef]="dialogRef"
  [isDirty]="formIsChanged"
  (submit)="changePassword()"
  [disableSubmit]="!formIsChanged"
>
  <form
    formInputs
    class="w-full flex flex-col items-center gap-2"
    (ngSubmit)="changePassword()"
    [formGroup]="changePwdForm"
  >
    <sman-input
      formControlName="newPwd"
      class="w-full"
      label="New Password:"
      name="newPwd"
      placeholder="New Password"
      [hasError]="formService.getCombinedErrors(newPwd)"
      [errMsgs]="{
            required: 'Please enter your new password.',
            minlength: 'Password must be at least 8 character',
            passwordInvalid:'Password must include at least a number',
          }"
    />
    <sman-input
      formControlName="confirmNewPwd"
      class="w-full"
      label="Confirm Password:"
      name="confirmNewPwd"
      placeholder="Confirm Password"
      [hasError]="{fieldInvalid: formService.isFieldInvalid(confirmNewPwd),
        passwordMismatch: !!changePwdForm.errors?.['passwordMismatch']
      }"
      [errMsgs]="{
        required: 'Please confirm your new password.',
        passwordMismatch: 'Your password does not match.'
      }"
    />
  </form>
</sman-add-form-layout>
