<div class="flex flex-col justify-center items-center px-4">
  <sman-heading
    title="Edit Admin Profile"
    classname="my-4 font-bold"
  ></sman-heading>
  <form
    class="w-full flex flex-col items-center gap-2"
    (ngSubmit)="updateUser()"
    [formGroup]="userProfileForm"
  >
    <sman-input
      formControlName="firstName"
      className="w-full"
      label="First Name:"
      name="firstName"
      type="text"
      placeholder="First Name"
      [hasError]="formService.getCombinedErrors(firstName)"
      [errMsgs]="{
            required: 'Please enter your first name.',
          }"
    />
    <sman-input
      formControlName="lastName"
      className="w-full"
      label="Last Name:"
      name="lastName"
      type="text"
      placeholder="Last Name"
      [hasError]="formService.getCombinedErrors(lastName)"
      [errMsgs]="{
            required: 'Please enter your last name.',
          }"
    />
    <sman-input
      formControlName="email"
      class=""
      label="Email:"
      name="email"
      type="text"
      placeholder="Email"
      [hasError]="formService.getCombinedErrors(email)"
      [errMsgs]="{
            required: 'Please enter your email.',
            email: 'Wrong email format.'
          }"
    />
  </form>
  <div class="flex justify-between items-center gap-5 w-full mt-6 mb-8">
    <sman-button
      text="Cancel"
      btnType="cancel"
      (buttonClick)="cancelEdit()"
    ></sman-button>
    <sman-button
      text="Save"
      btnType="primary"
      (buttonClick)="updateUser()"
      [isDisabled]="userProfileForm.invalid || isLoading || !formIsChanged"
    ></sman-button>
  </div>
</div>
