<sman-add-form-layout
  title="Edit Admin Profile"
  layout="edit"
  [formGroup]="userProfileForm"
  [dialogRef]="dialogRef"
  [isDirty]="formIsChanged"
  (submit)="updateUser()"
  [disableSubmit]="!formIsChanged"
>
  <form
    formInputs
    class="w-full flex flex-col items-center gap-2"
    [formGroup]="userProfileForm"
  >
    <sman-input
      formControlName="firstName"
      class="w-full"
      label="First Name:"
      name="firstName"
      placeholder="First Name"
      [hasError]="formService.getCombinedErrors(firstName)"
      [errMsgs]="{
            required: 'Please enter your first name.',
          }"
    />
    <sman-input
      formControlName="lastName"
      class="w-full"
      label="Last Name:"
      name="lastName"
      placeholder="Last Name"
      [hasError]="formService.getCombinedErrors(lastName)"
      [errMsgs]="{
            required: 'Please enter your last name.',
          }"
    />
    <sman-input
      formControlName="email"
      class="w-full"
      label="Email:"
      name="email"
      placeholder="Email"
      [hasError]="formService.getCombinedErrors(email)"
      [errMsgs]="{
        required: 'Please enter your email.',
        email: 'Wrong email format.'
      }"
    />
  </form>
</sman-add-form-layout>
