@if(student) {
<div class="flex gap-7">
    <div class="w-1/3">
        <img class="w-full h-full rounded-full border border-black" src="" alt="">
    </div>
    <div>
        <div class="text-lg text-blue-800 font-semibold">{{student.firstName + " " + student.lastName}}</div>
        <div>{{student.email}}</div>
        <div>{{student.phone}}</div>
        <div>{{student.gender}}</div>
        <div>{{student.id}}</div>
        <div>{{student.classIds}}</div>
    </div>
</div>
} @else {
<div>This student does not exist!</div>
}