<div
  class="relative bg-white px-6 z-10 flex flex-col w-56 h-screen"
  id="sidebar"
  (clickOutside)="hideMenu()"
>
  <div class="flex justify-between h-20 items-center">
    <img class="h-5" src=".\assets\images\logo (2).png" alt="Logo" />
    <i
      class="fa-solid fa-xmark cursor-pointer md:hidden text-sidebar"
      (click)="hideMenu()"
    ></i>
  </div>

  <div class="relative flex flex-col gap-9 py-10">
    <sman-sidebar-item
      title="dashboard"
      [isActive]="selectedMenu === ''"
      (selected)="onSelectMenu('')"
    >
      <i class="fa-solid fa-house"></i>
    </sman-sidebar-item>

    <sman-sidebar-item
      title="students"
      [isActive]="['students', 'students/:id'].includes(selectedMenu)"
      (selected)="onSelectMenu('students')"
    >
      <i class="fa-solid fa-user-graduate"></i>
    </sman-sidebar-item>

    <sman-sidebar-item
      title="parents"
      [isActive]="['parents', 'parents/:id'].includes(selectedMenu)"
      (selected)="onSelectMenu('parents')"
    >
      <i class="fa-solid fa-person-breastfeeding"></i>
    </sman-sidebar-item>

    <sman-sidebar-item
      title="teachers"
      [isActive]="['teachers', 'teachers/:id'].includes(selectedMenu)"
      (selected)="onSelectMenu('teachers')"
    >
      <i class="fa-solid fa-chalkboard-user"></i>
    </sman-sidebar-item>

    <sman-sidebar-item
      title="subjects"
      [isActive]="['subjects', 'subjects/:id'].includes(selectedMenu)"
      (selected)="onSelectMenu('subjects')"
    >
      <i class="fa-solid fa-book"></i>
    </sman-sidebar-item>

    <sman-sidebar-item
      title="classes"
      [isActive]="['classes', 'classes/:id'].includes(selectedMenu)"
      (selected)="onSelectMenu('classes')"
    >
      <i class="fa-solid fa-people-roof"></i>
    </sman-sidebar-item>

    <sman-sidebar-item
      title="components"
      [isActive]="selectedMenu === 'components'"
      (selected)="onSelectMenu('components')"
    >
      <i class="fa-solid fa-object-ungroup"></i>
    </sman-sidebar-item>
  </div>
</div>
