<sman-page-layout title="teachers">
  @if (displayAddTeacher) {
    <sman-add-teacher addNewForm (cancelForm)="hideAddTeacherForm()" />
  }
  <sman-filter
    filter
    (filter)="filterTeachers($event)"
    [queryParams]="filterParams"
  ></sman-filter>
  <sman-item-table
    table
    listOf="teachers"
    [items]="teachers"
    (sort)="filterTeachers($event)"
  ></sman-item-table>
  <sman-pagination
    pagination
    [pageSize]="itemPerPage"
    [totalCount]="teachersCount"
    [currentPage]="currentPage"
    (pageChange)="handlePageChange($event)"
  />
</sman-page-layout>
