<sman-page-layout title="Teachers" (createNew)="openDialog()">
  <sman-filter
    filter
    (filter)="filterTeachers($event)"
    (reset)="resetFilter()"
    [queryParams]="filterParams"
  ></sman-filter>
  <sman-item-table
    table
    listOf="teachers"
    [items]="teachers"
    (sort)="filterTeachers($event)"
  ></sman-item-table>
  @if (teachersCount) {
  <sman-pagination
    pagination
    [pageSize]="itemPerPage"
    [totalCount]="teachersCount"
    [currentPage]="currentPage"
    (pageChange)="handlePageChange($event)"
  />
  }
</sman-page-layout>
