@if(parent) {
<div class="flex gap-7">
    <div class="w-1/3">
        <img class="w-full h-full rounded-full border border-black" src="" alt="">
    </div>
    <div class="w-full">
        <div class="text-lg text-blue-800 font-semibold">{{parent.firstName + " " + parent.lastName}}</div>
        <div>{{parent.email}}</div>
        <div>{{parent.phone}}</div>
        <div>{{parent.address}}</div>
        <div>{{parent.id}}</div>
        <div class="flex gap-2">
            <button class="py-[10px] w-24 text-white bg-primary-300 rounded-lg text-sm">
                Edit
            </button>
            <button class="py-[10px] w-24 text-white bg-primary-300 rounded-lg text-sm">
                Delete
            </button>
            <button class="py-[10px] w-24 text-white bg-primary-300 rounded-lg text-sm" (click)="goBack()">
                Go Back
            </button>
        </div>
    </div>
</div>
<sman-item-table listOf="student" [items]="students"></sman-item-table>
} @else {
<div>This parent does not exist!</div>
}