<sman-profile-layout (delete)="deleteParent()" (back)="goBack()">
  <sman-info-wrapper [profilePic]="true" (edit)="showEditProfileInfo()">
    <div class="flex items-center gap-2 sm:gap-6 lg:gap-10">
      @if(parent !== null) {
      <sman-profile-photo
        profilePhoto
        [size]="screenXs ? 55 : 85"
        [photoSrc]="parent.profileUrl || ''"
      />
      <div>
        <div class="md:text-lg text-blue-800 font-semibold">
          {{ parent.firstName + " " + parent.lastName }}
        </div>
        <div class="text-inputTitle text-sm font-medium">Parent</div>
        <div class="text-inputTitle text-xs">
          {{ "ID: " + parent.id }}
        </div>
      </div>
      } @else {
      <div class="text-inputTitle text-sm font-medium">
        The parent with this ID:
        <span class="font-bold underline">{{ parentId }}</span> does not exist
      </div>
      }
    </div>
  </sman-info-wrapper>

  <sman-info-wrapper (edit)="showEditPersonalInfo()">
    <div title>Personal Information</div>
    <ng-container content>
      <sman-profile-info label="Address:">
        <div info>{{ parent?.address }}</div>
      </sman-profile-info>
      <sman-profile-info label="Phone:">
        <div info>{{ parent?.phone }}</div>
      </sman-profile-info>
      <sman-profile-info label="Email:">
        <div info>{{ parent?.email }}</div>
      </sman-profile-info>
    </ng-container>
  </sman-info-wrapper>
  <sman-info-wrapper (edit)="showEditEnrollmentInfo()">
    <div title>Enrollment Details</div>
    <ng-container content>
      <sman-profile-info label="Students:">
        <div info class="flex gap-2">
          @for (student of students; track student.id) { @if ($last) {
          <span class="cursor-pointer select-none hover:underline"
            ><a [routerLink]="['../../students', student.id]">{{
              student.firstName + " " + student.lastName
            }}</a></span
          >
          } @else {
          <div class="inline">
            <span class="cursor-pointer select-none hover:underline"
              ><a [routerLink]="['../../students', student.id]">{{
                student.firstName + " " + student.lastName
              }}</a></span
            ><span>, </span>
          </div>
          } } @empty {
          <div class="text-gray-400 select-none">No student infomation.</div>
          }
        </div>
      </sman-profile-info>
    </ng-container>
  </sman-info-wrapper>
</sman-profile-layout>
