<ng-content></ng-content>
<sman-heading [title]="title" [heading]="1" [spacing]="10" />
<div class="container flex justify-end w-full">
  <sman-button text="Create New" (buttonClick)="createNew.emit()">
    <i icon class="fa-solid fa-plus"></i>
  </sman-button>
</div>
<div
  class="container bg-white p-6 mt-4 rounded-lg flex flex-col justify-between"
>
  <ng-content select="[filter]"></ng-content>
  <hr />
  <div class="overflow-x-auto relative">
    <ng-content select="[table]"></ng-content>
    @if (isLoading) {
    <div
      class="absolute inset-0 flex items-center justify-center bg-white z-50"
    >
      <mat-spinner diameter="40"></mat-spinner>
    </div>
    }
  </div>
  <ng-content select="[pagination]"></ng-content>
</div>
