<div class="bg-background p-4 pt-7 h-screen">
    <ng-content select="[addNewForm]" />
    <div class="container bg-white shadow-lg p-4 mt-4 rounded-lg h-[calc(88vh)] flex flex-col justify-between">
        <div class="overflow-x-auto">
            <h1 class="text-center my-3 text-xl font-semibold select-none">All {{title | titlecase}}</h1>
            <ng-content select="[filter]" />
            <ng-content select="[table]"></ng-content>
        </div>
        <ng-content select="[pagination]"></ng-content>
    </div>
</div>