<sman-add-form-layout
  title="Add New Parent"
  layout="add"
  [formGroup]="addParentForm"
  [isDirty]="isDirty"
  [dialogRef]="dialogRef"
  (submit)="addParent($event)"
>
  <ng-container formInputs>
    <div class="flex gap-4 w-full">
      <!-- First Name -->
      <div class="w-1/2">
        <sman-input
          formControlName="firstName"
          label="First Name:"
          name="firstName"
          type="text"
          placeholder="First Name"
          [hasError]="formService.getCombinedErrors(firstName)"
          [errMsgs]="{
            required: 'Please enter your first name.',
          }"
        />
      </div>
      <!-- Last Name -->
      <div class="w-1/2">
        <sman-input
          formControlName="lastName"
          label="Last Name:"
          name="lastName"
          type="text"
          placeholder="Last Name"
          [hasError]="formService.getCombinedErrors(lastName)"
          [errMsgs]="{
            required: 'Please enter your last name.',
          }"
        />
      </div>
    </div>
    <div class="flex gap-4">
      <!-- Address -->
      <div class="w-full">
        <sman-address-autocomplete
          formControlName="address"
          label="Address:"
          name="address"
          placeholder="Address"
          [hasError]="formService.getCombinedErrors(address)"
          [errMsgs]="{
            required: 'Please enter your address.',
          }"
        />
      </div>
    </div>
    <div class="flex gap-4">
      <!-- Phone -->
      <div class="w-1/2">
        <sman-input
          formControlName="phone"
          label="Phone:"
          name="phone"
          placeholder="Phone"
          type="tel"
          [hasError]="formService.getCombinedErrors(phone)"
          [errMsgs]="{
            required: 'Please enter your phone.',
          }"
        />
      </div>
      <!-- Email -->
      <div class="w-1/2">
        <sman-input
          formControlName="email"
          label="Email:"
          name="email"
          type="text"
          placeholder="Email"
          [hasError]="formService.getCombinedErrors(email)"
          [errMsgs]="{
            required: 'Please enter your email.',
          }"
        />
      </div>
    </div>
  </ng-container>
  <sman-photo-uploader
    photoUploader
    [inputUrl]="''"
    (photoUploaded)="choosePhoto($event)"
  ></sman-photo-uploader>
</sman-add-form-layout>
