<div
  class="bg-white w-full absolute top-full left-1/2 max-h-40 overflow-auto -translate-x-1/2 p-2 rounded-lg border border-gray-300 shadow-2xl z-50"
  (clickOutside)="hidePanel()"
>
  <!-- Input -->
  @if (lookUp) {
  <div class="cursor-default w-full text-sm my-1">
    <input
      class="w-full bg-white border px-1 py-2 mr-1 focus:outline-none relative z-10"
      type="text"
      [(ngModel)]="searchValue"
      placeholder="Type to search"
      #searchInput
      [disabled]="!lookUp"
    />
  </div>

  } @if (items.length == 0) {
  <div
    class="hover:bg-blue-300 flex w-full text-sm text-center text-gray-400 select-none"
  >
    @if (searchValue === "") { Start typing to search.. } @else { No matched
    records. }
  </div>
  <!-- Items List -->
  } @else { @for (item of items; track $index) {
  <div
    class="hover:bg-slate-100 flex w-full cursor-pointer z-50"
    [ngClass]="{
                      'bg-slate-200 ':
                        checkItemSelected(item),
                    }"
    (click)="selectItem(item)"
  >
    {{ item.label }}
  </div>
  } }
</div>
