<div class="flex justify-between gap-5 mt-6">
    <button (click)="handlePrevious()" [ngClass]="{'bg-gray-300' : currentPage === 1}"
        class="bg-primary-300 text-white text-sm px-2 py-1 rounded-lg" [disabled]="currentPage === 1">Previous</button>
    <div class="flex gap-3">
        @for (i of arr; track $index) {
        @if (i === currentPage) {
        <p class="font-semibold cursor-default select-none bg-blue-200 rounded-md px-2" (click)="handleJumpToPage(i)">{{i}}</p>
        } @else if (i === DOTS) {
        <p class="cursor-default select-none">{{i}}</p>
        } @else {
        <p class="px-2 cursor-pointer select-none" (click)="handleJumpToPage(i)">{{i}}</p>
        }
        }
    </div>
    <button (click)="handleNext()" [ngClass]="{'bg-gray-300' : currentPage === lastPage}" class="bg-primary-300 text-white text-sm px-2 py-1 rounded-lg"
        [disabled]="currentPage === lastPage">Next</button>
</div>