<div class="container px-4 h-screen flex items-center justify-center">
    <form [formGroup]="loginForm" (ngSubmit)="handleLogin()">
        <div class="flex justify-center">
            <img class="h-40 relative -top-12" src="./assets/images/Logo.png" alt="">
        </div>
        <h1 class="text-3xl mb-14 w-96 text-center">Welcome, please login to your account</h1>
        <div class="flex items-center flex-col">
            <div class="flex flex-col w-80 gap-4 relative">
                <span class="absolute -top-7 left-0 text-red-600 text-sm">
                    @if(username.invalid && (username.touched || username.dirty)){
                    @if(username.hasError('required')) {
                    Please enter your username.
                    } @else if (username.hasError('minlength')) {
                    Minimum {{username.errors?.['minlength'].requiredLength}} character for username.
                    }
                    } @else if (password.invalid && (password.touched || password.dirty)) {
                    @if (password.hasError('required')) {
                    Password is required.
                    } @else if (password.hasError('minlength')) {
                    Password should be at least {{password.errors?.['minlength'].requiredLength}} character.
                    }
                    } @else if (loginForm.valid && errMsg !== '') {
                    {{errMsg}}
                    }
                </span>
                <input class="border rounded-md py-3 px-2 text-sm" type="text" name="username" id="username"
                    placeholder="Enter your user name" formControlName="username">
                <input class="border rounded-md py-3 px-2 text-sm" type="text" name="password" id="password"
                    placeholder="Enter your password" formControlName="password">
                <p class="text-blue-800 underline text-xs relative -top-2 cursor-pointer">Forgot you password?</p>
                <div class="relative">
                    @if (isLoading) {
                    <div class="absolute h-10">
                        <mat-spinner class="scale-[0.25] -translate-y-[30px] translate-x-16"></mat-spinner>
                    </div>
                    }
                    <button class="w-full py-[10px] px-8 text-white rounded-lg text-sm" type="submit"
                        [ngClass]="{'bg-gray-300' : loginForm.invalid || isLoading, 'bg-primary-300' : loginForm.valid && !isLoading}"
                        [disabled]="!loginForm.valid">Login</button>
                </div>
            </div>
        </div>
    </form>
</div>