<sman-page-layout title="Parents" (createNew)="openDialog()">
  <sman-filter
    filter
    (filter)="filterParents($event)"
    (reset)="resetFilter()"
    [queryParams]="filterParams"
  ></sman-filter>
  <sman-item-table
    table
    listOf="parents"
    [items]="parents"
    (sort)="filterParents($event)"
  ></sman-item-table>
  @if (parentsCount) {
  <sman-pagination
    pagination
    [pageSize]="itemPerPage"
    [totalCount]="parentsCount"
    [currentPage]="currentPage"
    (pageChange)="handlePageChange($event)"
  />
  }
</sman-page-layout>
