<div [ngClass]="className" class="relative">
  <label [for]="name" class="text-inputTitle text-sm md:text-base">{{
    label
  }}</label>
  <ng-container>
    <input
      class="border w-full rounded-xl py-3 px-2 mt-2 text-sm md:text-base"
      [ngClass]="{ 'border-red-600': hasError['fieldInvalid'] }"
      type="text"
      [placeholder]="placeholder"
      [(ngModel)]="value"
      (input)="onInput($event)"
      (blur)="onBlur()"
      #addresstext
    />
    @if (isLoading) {
    <div class="absolute right-4 flex items-center justify-center top-1/2 mt-[6px] -translate-y-1/2">
      <mat-spinner diameter="20" class="!text-gray-600 !fill-gray-600"></mat-spinner>
    </div>
    }
  </ng-container>
  <div class="text-red-600 text-sm">
    @if (hasError['fieldInvalid']) { @for (err of errorKeys; track $index) { @if
    (err !== 'fieldInvalid') {
    {{ errMsgs[err] }}
    } } } @else { &nbsp; }
  </div>
</div>
