<div class="bg-background p-4 pt-7 h-screen">
    @if (displayAddStudent) {
    <sman-add-student (cancel)="hideAddStudentForm()" />
    }
    <div class="container bg-white p-4 mt-4 rounded-lg h-[calc(88vh)] flex flex-col justify-between">
        <div class="overflow-x-auto">
            <h1 class="text-center text-xl font-semibold">All Students</h1>
            <form [formGroup]="filterStudentForm" (ngSubmit)="filterStudents()"
                class="container h-20 bg-white shadow-md flex justify-between gap-2">
                <div class="flex items-center w-2/5">
                    <input class="placeholder:text-sm w-full px-4 py-2 rounded-lg border" type="text"
                        placeholder="Search by name" formControlName="name">
                </div>
                <div class="flex items-center justify-center w-2/5">
                    <!-- <select formControlName="classIds" class="py-[10px] px-3 border rounded-md" placeholder="Class">
                        <option class="text-gray-600" value="" disabled selected>Class</option>
                        @for (class of classes; track $index) {
                            <option [value]="class.id">{{class.name}}</option>
                        }
                    </select> -->
                    <sman-multiselector [selected]="selectedClasses" [items]="classList()" (select)="updateClassFilter($event)"></sman-multiselector>
                </div>
                <div class="flex w-1/5 justify-between items-center py-6 pr-2">
                    <button class="w-full py-[10px] px-4 text-white bg-primary-500 rounded-lg text-sm"
                        type="submit">SEARCH</button>
                </div>
            </form>
            <table class="text-sm md:text-base text-left w-full cursor-pointer">
                <thead class="bg-slate-200">
                    <th>Name</th>
                    <th>Student ID</th>
                    <th>Email</th>
                    <th>Gender</th>
                    <!-- <th>Enrollment Date</th> -->
                </thead>
                <tbody>
                    @for (std of students; track $index; let e = $even) {
                    @if (!e) {
                    <tr [routerLink]="['./' + std.id]" class="bg-slate-100">
                        <td>{{std.firstName + ' ' + std.lastName}}</td>
                        <td>{{std.id}}</td>
                        <td>{{std.email}}</td>
                        <td>{{std.gender}}</td>
                        <!-- <td>{{std.e}}</td> -->
                    </tr>
                    } @else {
                    <tr [routerLink]="['./' + std.id]">
                        <td>{{std.firstName + ' ' + std.lastName}}</td>
                        <td>{{std.id}}</td>
                        <td>{{std.email}}</td>
                        <td>{{std.gender}}</td>
                        <!-- <td>{{std.EnrollmentDate}}</td> -->
                    </tr>
                    }
                    } @empty {
                    <tr>
                        <td colSpan="6" class="text-center">There are no students!</td>
                    </tr>
                    }
                </tbody>
            </table>
        </div>
        @if(studentsCount) {
        <sman-pagination [pageSize]="itemPerPage" [totalCount]="studentsCount" [currentPage]="currentPage"
            (pageChange)="handlePageChange($event)" />
        }
    </div>
</div>