<sman-heading [title]="title" [heading]="1" [spacing]="8" classname="mb-6" />
<div class="container flex justify-between">
  <sman-button
    btnType="primary"
    text="Back"
    className="mb-4"
    (buttonClick)="back.emit()"
  >
    <i icon class="fa-solid fa-chevron-left text-xs"></i>
  </sman-button>
  <sman-button
    btnType="delete"
    text="Delete"
    className="mb-4"
    (buttonClick)="delete.emit()"
  >
    <i icon class="fa-solid fa-trash-can"></i>
  </sman-button>
</div>
<div class="container bg-white rounded-3xl p-6 flex flex-col gap-6">
  <ng-content></ng-content>
</div>
