<form
  [formGroup]="filterForm"
  class="bg-white container sm:flex-row flex flex-col justify-between gap-3 pb-6 rounded-xl w-full"
>
  <div class="flex items-center sm:w-1/3">
    <input
      class="placeholder:text-sm border w-full rounded-xl py-3 md:py-[10px] px-2 text-sm md:text-base"
      type="text"
      placeholder="Search by name"
      formControlName="name"

    />
  </div>
  @if (!nameOnly) {
  <div class="flex items-center gap-2 justify-center sm:w-[40%]">
    <sman-multiselector
      class="w-full"
      [supportMulti]="true"
      [lookUp]="true"
      [validation]="false"
      [selected]="selectedClasses"
      [items]="classList()"
      (inputTyped)="lookUpClassesByName($event)"
      (select)="handleSelect($event)"
      placeholder="Search by classes"
    ></sman-multiselector>
  </div>
  }
  <div
    class="flex sm:w-1/3 sm:justify-end sm:gap-2 justify-between items-center"
  >
    <sman-button
      text="Reset"
      class=""
      btnType="cancel"
      (buttonClick)="resetFilter()"
    ></sman-button>
    <sman-button
      text="Apply"
      class=""
      btnType="secondary"
      (buttonClick)="applyFilter()"
      [isDisabled]="!formValid"
    ></sman-button>
  </div>
</form>
