<form [formGroup]="filterParentForm" (ngSubmit)="filterParents()"
    class="container h-20 pb-5 bg-white shadow-md flex justify-between gap-2">
    <div class="flex items-center w-2/6">
        <input class="placeholder:text-sm w-full px-4 py-2 rounded-lg border" type="text" placeholder="Search by name"
            formControlName="name">
    </div>
    <div class="flex items-center gap-2 justify-center w-2/5">
        <sman-multiselector [supportMulti]="true" [lookUp]="true" [selected]="selectedClasses" [items]="classList()" (inputTyped)="lookUpClassesByName($event)" (select)="handleSelect($event)"
            placeholder="Search by classes"></sman-multiselector>
    </div>
    <div class="flex w-1/6 justify-between items-center py-6 pr-2">
        <button class="w-full py-[10px] px-4 text-white bg-primary-300 rounded-lg text-sm" type="submit">SEARCH</button>
    </div>
</form>