<sman-profile-layout (delete)="onDelete()" (back)="goBack()">
  <sman-info-wrapper [profilePic]="true" (edit)="showEditProfileInfo()">
    <div class="flex items-center gap-2 sm:gap-6 lg:gap-10">
      @if(teacher !== null) {
      <sman-profile-photo
        profilePhoto
        [size]="screenXs ? 55 : 85"
        [photoSrc]="teacher.profileUrl || ''"
      />
      <div>
        <div class="md:text-lg text-blue-800 font-semibold">
          {{ teacher.firstName + " " + teacher.lastName }}
        </div>
        <div class="text-inputTitle text-sm font-medium">Teacher</div>
        <div class="text-inputTitle text-xs">
          {{ "ID: " + teacher.id }}
        </div>
      </div>
      } @else {
      <div class="text-inputTitle text-sm font-medium">
        The teacher with this ID:
        <span class="font-bold underline">{{ teacherId }}</span> does not exist
      </div>
      }
    </div>
  </sman-info-wrapper>

  <sman-info-wrapper (edit)="showEditPersonalInfo()">
    <div title>Personal Information</div>
    <ng-container content>
      <sman-profile-info label="Gender:">
        <div info>{{ teacher?.gender | titlecase }}</div>
      </sman-profile-info>
      <sman-profile-info label="Address:">
        <div info>{{ teacher?.address }}</div>
      </sman-profile-info>
      <sman-profile-info label="Phone:">
        <div info>{{ teacher?.phone }}</div>
      </sman-profile-info>
      <sman-profile-info label="Email:">
        <div info>{{ teacher?.email }}</div>
      </sman-profile-info>
    </ng-container>
  </sman-info-wrapper>

  <sman-info-wrapper (edit)="showEditEnrollmentInfo()">
    <div title>Enrollment Details</div>
    <ng-container content>
      <sman-profile-info label="Admission Date:">
        <div info>{{ teacher?.admissionDate | date : "longDate" }}</div>
      </sman-profile-info>
    </ng-container>
  </sman-info-wrapper>
</sman-profile-layout>
