<div class="relative z-10" (click)="showItem()">
  @if (supportMulti) { }
  <div
    class="w-full bg-white flex items-center justify-center text-sm/6 border px-3 py-[10px] rounded-xl"
    [ngClass]="fieldInvalid ? 'border-red-600' : 'border-gray-200'"
  >
    @if(selectedItem.length == 0) {
    <div class="text-gray-400 line-clamp-1">{{ placeholder }}</div>
    } @else {
    <div class="flex gap-1 flex-wrap">
      @for (item of selectedItem; track $index) {
      <div
        class="h-6 relative px-1 flex items-center justify-between gap-1 bg-blue-400 text-white cursor-pointer border rounded-full select-none"
        (click)="selectItem(item, $event)"
      >
        {{ item.label }}
        <div
          class="relative -top-[1px] flex items-center justify-center border h-[18px] w-[18px] bg-white rounded-full"
        >
          <i class="fa-solid fa-xmark text-slate-800 relative top-[1px]"></i>
        </div>
      </div>
      }
    </div>
    }
    <i class="fa-solid fa-chevron-down cursor-pointer ml-auto"></i>
  </div>
  <div class="absolute text-red-600 text-sm">
    @if (fieldInvalid) { @for (err of errorKeys; track $index) {
    {{ errMsgs[err] }}
    } } @else { &nbsp; }
  </div>
  @if (isShow) {
  <sman-items-panel
    [lookUp]="lookUp"
    (clickedOutside)="hideItem()"
    [items]="items"
    (select)="selectItem($event)"
    [selectedItem]="selectedItem"
    (inputTyped)="lookupItems($event)"
  ></sman-items-panel>
  }
</div>
