<div class="bg-background p-6 relative z-0">
  <div class="flex gap-5 flex-col">
    <div class="flex gap-4 justify-center">
      <div class="w-1/2">
        <sman-stats-wrapper
          class="cursor-pointer"
          (click)="handleClick('students')"
        >
          <sman-stats-cell
            chart
            color="blue"
            label="Students"
            [stats]="studentCount"
          >
            <i icon class="fa-solid fa-user-graduate"></i>
          </sman-stats-cell>
        </sman-stats-wrapper>
      </div>
      <div class="w-1/2">
        <sman-stats-wrapper
          class="cursor-pointer"
          (click)="handleClick('parents')"
        >
          <sman-stats-cell
            chart
            color="purple"
            label="Parents"
            [stats]="parentCount"
          >
            <i icon class="fa-solid fa-person-breastfeeding"></i>
          </sman-stats-cell>
        </sman-stats-wrapper>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="w-1/2">
        <sman-stats-wrapper
          class="cursor-pointer"
          (click)="handleClick('teachers')"
        >
          <sman-stats-cell
            chart
            color="green"
            label="Teachers"
            [stats]="teacherCount"
          >
            <i icon class="fa-solid fa-chalkboard-user"></i>
          </sman-stats-cell>
        </sman-stats-wrapper>
      </div>
      <div class="w-1/2">
        <sman-stats-wrapper
          class="cursor-pointer"
          (click)="handleClick('classes')"
        >
          <sman-stats-cell
            chart
            color="red"
            label="Classes"
            [stats]="classCount"
          >
            <i icon class="fa-solid fa-people-roof"></i>
          </sman-stats-cell>
        </sman-stats-wrapper>
      </div>
    </div>
  </div>
  <sman-heading title="Student gender ratio" />
  <div class="flex flex-col">
    <sman-stats-wrapper [isChart]="true">
      <sman-gender-ratio-chart
        chart
        [width]="300"
        [height]="250"
        [maleCount]="maleCount"
        [femaleCount]="femaleCount"
      ></sman-gender-ratio-chart>
    </sman-stats-wrapper>
    <sman-heading title="Enrollments Per Year" />
    <sman-stats-wrapper [isChart]="true">
      <sman-enrollment-stats-chart
        chart
        [width]="325"
        [height]="300"
        [enrollmentStats]="enrollmentsPerYear"
      ></sman-enrollment-stats-chart>
    </sman-stats-wrapper>
  </div>
  <div>
    <sman-heading title="Today's Class Schedule" />
    <div class="bg-white p-3 rounded-2xl">
      <sman-item-table [fromDashboard]="true" [items]="todaySubjects" listOf="subjects" />
    </div>
  </div>
  <div>
    <sman-heading title="Notice Board" />
    <sman-stats-wrapper>
      <div chart>
        @for (notice of notices; track $index) {
        <sman-notice-news chart [notice]="notice"></sman-notice-news>
        }
      </div>
    </sman-stats-wrapper>
  </div>
</div>
