<sman-add-form-layout
  title="Add New Subject"
  layout="add"
  [formGroup]="addSubjectForm"
  [isDirty]="isDirty"
  [dialogRef]="dialogRef"
  (submit)="addSubject($event)"
>
  <ng-container formInputs>
    <div class="flex gap-4 w-full">
      <!-- Name -->
      <div class="w-1/2">
        <sman-input
          formControlName="name"
          label="Subject Name:"
          name="name"
          type="text"
          placeholder="Subject Name"
          [hasError]="formService.getCombinedErrors(name)"
          [errMsgs]="{
            required: 'Please enter subject name.',
          }"
        />
      </div>
      <div class="flex flex-col w-1/2 relative z-50">
        <label class="text-inputTitle mb-2 text-sm md:text-base">Class:</label>
        <sman-multiselector
          [items]="classList"
          placeholder="Class of this subject."
          [lookUp]="true"
          (inputTyped)="lookUpClassesByName($event)"
          (select)="handleSelectClass($event)"
          [hasError]="formService.getCombinedErrors(classId)"
          [errMsgs]="{
            required: 'Please select subject\'s class.',
          }"
        ></sman-multiselector>
      </div>
    </div>
    <div class="flex gap-4">
      <div class="flex flex-col w-1/2">
        <label class="text-inputTitle mb-2 text-sm md:text-base"
          >Schedule:</label
        >
        <sman-multiselector
          [items]="weekDays"
          placeholder="Subject schedule."
          [supportMulti]="true"
          (select)="handleSelectSchedule($event)"
          [hasError]="formService.getCombinedErrors(daysOfWeek)"
          [errMsgs]="{
            required: 'Please select subject\'s schedule.',
          }"
        ></sman-multiselector>
      </div>
      <div class="flex flex-col w-1/2">
        <label class="text-inputTitle mb-2 text-sm md:text-base"
          >Teacher:</label
        >
        <sman-multiselector
          [items]="teacherList"
          placeholder="Teacher of this subject."
          [lookUp]="true"
          (inputTyped)="lookUpTeachersByName($event)"
          (select)="handleSelectTeacher($event)"
          [hasError]="formService.getCombinedErrors(teacherId)"
          [errMsgs]="{
            required: 'Please select subject\'s teacher.',
          }"
        ></sman-multiselector>
      </div>
    </div>
  </ng-container>
</sman-add-form-layout>
