@import url("https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap");
/* You can add global styles to this file, and also import other style files */
@tailwind base;
@tailwind components;
@tailwind utilities;

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* Ensure the html and body take up the full height */
html,
body {
  height: 100%;
}

/* Set a consistent line-height and remove text decoration for links */
body {
  margin: 0;
  line-height: 1.6;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  font-family: "Inter", sans-serif;
}

.hide-scrollbar {
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.hide-scrollbar::-webkit-scrollbar {
  display: none; /* Chrome, Safari, and Opera */
}

mat-form-field {
  --mdc-filled-text-field-container-color: white;
  height: 69px;
  border-radius: 0.75rem;
}
mat-calendar {
  background-color: white;
  border-radius: 15px;
  border: 1px solid rgb(235, 235, 235);
  @apply shadow-xl
}

.mdc-line-ripple {
  display: none;
}

.mdc-text-field--filled {
  border-radius: 0.75rem !important;
  border: 1px solid rgb(235, 235, 235);
}

.border-red .mdc-text-field--filled {
  border: 1px solid rgb(220 38 38);
}

.mat-mdc-dialog-surface {
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.mat-mdc-dialog-surface::-webkit-scrollbar {
  display: none;
}

.mat-mdc-form-field-hint {
  color: #969696;
}

// address-autocomplete
.pac-container {
@apply rounded-lg p-2
}

.pac-item {
  font-family: "Inter", sans-serif;
  @apply py-1;
}
