<!-- <div class="container p-6 z-20">
    <h1 class="font-medium text-xl mb-5">{{ title }}</h1>
    <form class="" [formGroup]="formGroup">
      <div class="flex flex-col mb-8">
        <ng-content select="[formInputs]"></ng-content>
      </div>
      <div>
        <ng-content select="[photoUploader]"></ng-content>
      </div>
      <div class="mt-3 flex justify-between">
        <sman-button
          text="Cancel"
          btnType="cancel"
          (buttonClick)="cancelForm()"
        ></sman-button>
        <sman-button
          [text]="layout === 'add' ? 'Add' : 'Edit'"
          btnType="primary"
          (buttonClick)="submitForm($event)"
          [isDisabled]="!formGroup.valid"
        ></sman-button>
      </div>
    </form>
  </div>
   -->