<sman-profile-layout (delete)="onDelete()" (back)="goBack()">
  <sman-info-wrapper [profilePic]="true" [editable]="false">
    <div class="flex items-center gap-2 sm:gap-6 lg:gap-10">
      <div>
        <div class="md:text-lg text-blue-800 font-semibold">
          {{ classes?.name }}
        </div>
        <div class="text-inputTitle text-sm font-medium">Class</div>
        <div class="text-inputTitle text-xs">
          {{ "ID: " + classes?.id }}
        </div>
      </div>
    </div>
  </sman-info-wrapper>

  <sman-info-wrapper (edit)="showEditClassDetail()">
    <div title>Class Information</div>
    <ng-container content>
      <sman-profile-info label="Students:">
        <div info class="flex gap-2">
          @for (student of classes?.students; track student?.id) { @if(student != null)
          {@if ($last) {
          <span class="cursor-pointer select-none hover:underline text-nowrap"
            ><a [routerLink]="['../../students', student.id]">{{
              student.firstName + " " + student.lastName
            }}</a></span
          >
          } @else {
          <div class="inline">
            <span class="cursor-pointer select-none hover:underline text-nowrap"
              ><a [routerLink]="['../../students', student.id]">{{
                student.firstName + " " + student.lastName
              }}</a></span
            ><span>, </span>
          </div>
          } }} @empty {
          <div class="text-gray-400 select-none">No student enrolled.</div>
          }
        </div>
      </sman-profile-info>
    </ng-container>
  </sman-info-wrapper>
</sman-profile-layout>
