<sman-add-form-layout
  title="Add New Student"
  layout="add"
  [formGroup]="addStudentForm"
  [dialogRef]="dialogRef"
  [isDirty]="isDirty"
  (submit)="addStudent($event)"
>
  <ng-container formInputs>
    <hr />
    <sman-heading
      title="Personal Information"
      classname="lg:text-lg"
      [spacing]="6"
    />
    <div class="md:flex md:gap-4 w-full">
      <!-- First Name -->
      <sman-input
        formControlName="firstName"
        className="pb-2"
        label="First Name:"
        name="firstName"
        placeholder="First Name"
        [hasError]="formService.getCombinedErrors(firstName)"
        [errMsgs]="{
            required: 'Please enter your first name.',
          }"
      />
      <!-- Last Name -->
      <sman-input
        formControlName="lastName"
        className="pb-2"
        label="Last Name:"
        name="lastName"
        placeholder="Last Name"
        [hasError]="formService.getCombinedErrors(lastName)"
        [errMsgs]="{
            required: 'Please enter your last name.',
          }"
      />
    </div>
    <div class="md:flex md:gap-4">
      <!-- Gender -->
      <div class="flex flex-col md:w-1/2 mb-5">
        <div class="flex flex-col w-full">
          <label
            class="text-inputTitle mb-[10px] text-sm md:text-base"
            for="gender"
            >Gender:</label
          >
          <div class="relative">
            <select
              class="appearance-none border w-full rounded-xl py-3 px-2 text-sm md:text-base"
              [ngClass]="{
                'border-red-600': formService.isFieldInvalid(gender)
              }"
              name="gender"
              id="gender"
              formControlName="gender"
            >
              <option
                class="!text-sm md:text-base text-inputTitle"
                value="male"
              >
                Male
              </option>
              <option
                class="!text-sm md:text-base text-inputTitle"
                value="female"
              >
                Female
              </option>
            </select>
            <div
              class="absolute top-1/2 -translate-y-1/2 right-4 pointer-events-none"
            >
              <i class="fa-solid fa-chevron-down text-sm"></i>
            </div>
          </div>
        </div>
        <div class="text-red-600 text-sm">
          @if (formService.isFieldInvalid(gender)) { @if
          (gender.hasError("required")) { Please select gender. } }
        </div>
      </div>
      <!-- Date of Birth -->
      <sman-date-input
        class="md:w-1/2"
        formControlName="dateOfBirth"
        label="Date of Birth:"
        name="dateOfBirth"
        [hasError]="formService.getCombinedErrors(dateOfBirth)"
        [errMsgs]="{
            required: 'Please enter your date of birth.',
          }"
      />
    </div>
    <div class="flex gap-4">
      <!-- Address -->
      <sman-address-autocomplete
        formControlName="address"
        class="w-full"
        label="Address:"
        name="address"
        placeholder="Address"
        [hasError]="formService.getCombinedErrors(address)"
        [errMsgs]="{
            required: 'Please enter your address.',
          }"
      />
    </div>
    <div class="md:flex md:gap-4">
      <!-- Phone -->
      <sman-input
        formControlName="phone"
        class="w-1/2"
        label="Phone:"
        name="phone"
        placeholder="Phone"
        type="tel"
        [hasError]="formService.getCombinedErrors(phone)"
        [errMsgs]="{
            required: 'Please enter your phone.',
          }"
      />
      <!-- Email -->
      <sman-input
        formControlName="email"
        class="w-1/2"
        label="Email:"
        name="email"
        type="text"
        placeholder="Email"
        [hasError]="formService.getCombinedErrors(email)"
        [errMsgs]="{
            required: 'Please enter your email.',
          }"
      />
    </div>
    <hr />
    <sman-heading
      title="Enrollment Information"
      classname="lg:text-lg"
      [spacing]="6"
    />
    <!-- Admission Date -->
    <sman-date-input
      formControlName="admissionDate"
      label="Admission Date:"
      name="admissionDate"
      [hasError]="formService.getCombinedErrors(admissionDate)"
      [errMsgs]="{
        required: 'Please enter your admission date.',
      }"
    />
    <div class="md:flex md:gap-4 mb-5">
      <div class="flex flex-col md:w-1/2 relative z-50">
        <sman-multiselector
          label="Classes:"
          [items]="classesList"
          placeholder="Select class to enroll."
          [lookUp]="true"
          [supportMulti]="true"
          (inputTyped)="lookUpClassesByName($event)"
          (select)="handleSelectClass($event)"
          [hasError]="formService.getCombinedErrors(classIds)"
          [errMsgs]="{
            required: 'Please select student\'s classes.',
          }"
        ></sman-multiselector>
      </div>
      <div class="flex flex-col md:w-1/2">
        <sman-multiselector
          label="Parents:"
          [items]="parentsList"
          placeholder="Parents of this student."
          [lookUp]="true"
          [supportMulti]="true"
          (inputTyped)="lookUpParentsByName($event)"
          (select)="handleSelectParents($event)"
          [hasError]="formService.getCombinedErrors(parentIds)"
          [errMsgs]="{
            required: 'Please select student\'s parents.',
          }"
        ></sman-multiselector>
      </div>
    </div>
    <hr />
    <sman-heading
      title="Profile Picture"
      classname="lg:text-lg"
      [spacing]="6"
    />
  </ng-container>
  <sman-photo-uploader
    photoUploader
    (photoUploaded)="choosePhoto($event)"
  ></sman-photo-uploader>
</sman-add-form-layout>
